In [1]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import OnehotTransactions

In [2]:
import pandas as pd

In [13]:
dataset = [
    ['vanilla wafers', 'bananas' , 'dog food'],
    ['bananas', 'bread', 'yogurt'],
    ['bananas','apples','yogurt'],
    ['vanilla wafers','bananas','whipped cream'],
    ['bread', 'vanilla wafers' , 'yogurt'],
    ['milk' 'bread' 'bananas'],
    ['vanilla wafers', 'apples' , 'bananas'],
    ['yogurt', 'apples', 'vanilla wafers'],
    
]
dataset

[['vanilla wafers', 'bananas', 'dog food'],
 ['bananas', 'bread', 'yogurt'],
 ['bananas', 'apples', 'yogurt'],
 ['vanilla wafers', 'bananas', 'whipped cream'],
 ['bread', 'vanilla wafers', 'yogurt'],
 ['milkbreadbananas'],
 ['vanilla wafers', 'apples', 'bananas'],
 ['yogurt', 'apples', 'vanilla wafers']]

In [14]:
oht = OnehotTransactions()
oht_ary = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_ary, columns=oht.columns_)
df

/home/rishi/anaconda3/lib/python3.6/site-packages/mlxtend/preprocessing/onehot.py:66: DeprecationWarning: OnehotTransactions has been deprecated and will be removed in future. Please use TransactionEncoder instead.
  warnings.warn(msg, DeprecationWarning)

,apples,bananas,bread,dog food,milkbreadbananas,vanilla wafers,whipped cream,yogurt
0,False,True,False,True,False,True,False,False
1,False,True,True,False,False,False,False,True
2,True,True,False,False,False,False,False,True
3,False,True,False,False,False,True,True,False
4,False,False,True,False,False,True,False,True
5,False,False,False,False,True,False,False,False
6,True,True,False,False,False,True,False,False
7,True,False,False,False,False,True,False,True

In [15]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

    support                   itemsets
0     0.375                   (apples)
1     0.625                  (bananas)
2     0.250                    (bread)
3     0.625           (vanilla wafers)
4     0.500                   (yogurt)
5     0.250          (bananas, apples)
6     0.250   (vanilla wafers, apples)
7     0.250           (yogurt, apples)
8     0.375  (vanilla wafers, bananas)
9     0.250          (yogurt, bananas)
10    0.250            (yogurt, bread)
11    0.250   (vanilla wafers, yogurt)